# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
/SimpleEngine/SimpleEngine/Debug/SimpleEngine.tlog/*.tlog
/SimpleEngine/.vs/SimpleEngine/v15/ipch/AutoPCH/6cc14f2a9b2e4de0/*.ipch
/SimpleEngine/Debug/*.pdb
/SimpleEngine/SimpleEngine/Debug/*.pdb
/SimpleEngine/SimpleEngine/Debug/*.idb
/SimpleEngine/Debug/*.ilk
/SimpleEngine/.vs/SimpleEngine/v15/ipch/*.ipch
/SimpleEngine/.vs/SimpleEngine/v15/ipch/AutoPCH/629a07bce38854e8/*.ipch
/SimpleEngine/SimpleEngine/Debug/SimpleEngine.tlog/*.lastbuildstate
/SimpleEngine/.vs/SimpleEngine/v15/*.db
/SimpleEngine/Debug/*.exe
/SimpleEngine/SimpleEngine/*.filters
/SimpleEngine/SimpleEngine/Debug/*.log
/SimpleEngine/SimpleEngine/Debug/*.obj
/SimpleEngine/.vs/SimpleEngine/v15/*.opendb
/SimpleEngine/SimpleEngine/*.vcxproj
